.custom-header {
  position: sticky;
  top: 0;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
  width: 100%;
  background-color:#0E223A;
  /*background-size: cover*/
  height: 75px;
  list-style: none;
}

.logo {
  color: white;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: top;
  /* Vertical centering */
  margin-left: 20PX;
}

.nav-links {
  margin: 12px 0 0 0;
  color: white;
  grid-area: 1 / 9 / 2 / 10;
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: top;
  /* Vertical centering */

}

.nav-links li {
  display: inline;
  margin: 0 20px;
}



.action-buttons {
  grid-area: 1 / 9 / 2 /13;
  gap: 10px;
  /*vertically centering */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0;
  
  

  margin-right: 60px;
}

.signup-button {
  display: flex;
  align-items: center;
  background-color: white;
  color: #112D4E;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  gap: 10px;
  margin: auto 0 auto 15px;
  height: 40px;
}

.login-button {
  display: flex;
  align-items: center;
  background-color: #112D4E;
  color: white;
  border: white solid 1px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
}

.action-buttons button:hover {
  background-color: #3F72AF;
}

.slogan {
  color: white;
  grid-area: 4 / 1 / 7 / 9;
  font-size: 3em;
  font-weight: bold;
margin-left: 45px;

}

.slogan li {
  list-style-type: none;
  /* Add this line to remove the list bullets */
}