.background-img {
    background-image: url("../../img/banner.jpg");
    background-size: cover;
    height: 550px;
}

.slogan {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 40px;
}

.slogan ul {
    list-style-type: none;
}

li {
    padding: 10px 0px;
}