.custom-header {
  background-color: #0E223A; 
  color: #ffffff; 
  height: 90px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 0; 
  margin: auto; 
  max-width: 100%;
}

.header-content{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  max-width: 1200px; 
  width: 100%; 
}

.header-left{
  display: flex; 
  align-items: center; 
}

.header-left .logo-img {
  background: url('../../../public/img/logo-white.png') no-repeat center;
  background-size: contain;
  width: 43px; 
  height: 40px; 
  margin-right: 1rem; 
}

.header-left p{
  font-family:'Times New Roman', Times, serif;
  font-size: 2rem;
  margin: 1rem 0 ;
  font-weight: 800;
  color: #fff;
}

.header-right {
  display: flex; 
  align-items: center; 
  flex: 1; 
  justify-content: flex-end; 
}

.nav-links,
.action-buttons {
  display: flex;
  align-items: center;
  gap: 1rem; 
}


.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0 1.6rem;
  display: flex;
  gap: 1rem; 
}

.nav-links a {
  color: #ffffff; 
  text-decoration: none;
}

.nav-links li {
  padding: 0.5rem 0; 
}


.action-buttons {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  margin-right: 40px;
}

.signup-button, .login-button {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
}

.signup-button {
  background-color: white;
  color: #112D4E;
}

.login-button {
  background-color: #112D4E;
  color: white;
  border-color: white;
}

.action-buttons button:hover {
  background-color: #3F72AF;
}